
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   
    <link rel="stylesheet" href="~/dist/style.css">
    <link rel="stylesheet" href="~/sorce/style.css">
    <title> @ViewData["Title"] </title>
</head>
<body>
    <!-- partial:index.partial.html -->
    <partial name="_CookieConsentPartial" />
    @RenderBody()
    <!-- partial -->

    @RenderSection("Scripts", required: false)
</body>
</html>
